.mplContainer {
  margin: 0 auto;
  position: relative;
}
#mpl {
  margin: auto;
  margin-top: 240px;
  display: grid;
  background-color: black;
}
.outcircle {
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
}
.incircle {
  margin: auto;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}
#mplCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}