.container {
  margin: 0 auto;
  position: relative;
}
#mpl {
  margin: auto;
  margin-top: 400px;
  display: grid;
  background-color: black;
}
.outcircle {
  border: 7px solid white;
  border-radius: 50%;
  display: flex;
}
.incircle {
  margin: auto;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
#myCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}