.mplContainer {
  margin: 0 auto;
  position: relative;
}
#mpl {
  margin: auto;
  margin-top: 40px;
  display: grid;
  background-color: rgb(230,230,230);
  border-radius: 3px;
}
.outcircle {
  border: 3px solid rgb(172,172,172);
  border-radius: 50%;
  display: flex;
}
.incircle {
  margin: auto;
  width: 5px;
  height: 5px;
  background-color: rgb(172,172,172);
  border-radius: 50%;
}
#mplCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}